*{
    margin:0;
    padding:0;
}
#finaceform {
    text-align: center
}

.layui-inline {
    margin-left: -4%;
}

.layui-input-inline {
    margin: 0;
    width: 200px;
    float: left;
}



.layui-input-inline input {
    border:0;
    margin: 0;
    width: 160px;
    float: left;
}


.layui-input-inline img {
    margin-top: 5px;
    width: 30px;
}