#finaceform {
    text-align: center
}

.layui-inline {
    margin-left: -4%;
}

.layui-input-inline {
    /* border: 1px solid red; */
    margin: 0;
    width: 200px;
    /* height: 30px; */
    float: left;
}


/* ‰»ÎøÚ*/

.layui-input-inline input {
    border: none;
    margin: 0;
    width: 160px;
    /* height: 30px; */
    float: left;
}


/*Õº∆¨*/

.layui-input-inline img {
    /* border: 1px solid blue; */
    margin-top: 5px;
    width: 30px;
    /* height: 30px; */
}