.chartModel {
    width:1000px;
    height: 800px;
    margin: 0 auto;
}

.body {
    text-align: center
}

#new {
    border: 1px solid red;
}
.layui-form-item .layui-input-inline{
    width:11%;
}
#modal{
    display: none;
    width:80%;
    height:90%;
    padding-top:15px;
}
#worthWNM{
    position: relative;
    margin-left: 21px;
}
#worthWNM2{
    position: absolute;
    right:25px;
    top:254px;
}

