.header{
	width:100%;
	height:10%;
	background-color:#021a26;
}
.logo{
	width:5%;
	height:10%;
	border-radius:25px;
	position:absolute;
	top:0%;
	left:1%;
}
.tab{
	position: absolute;
	left:20%;
	top:30%;
}
.btn1{
	width:100%;
	position: absolute;
	top:50%;
	left:0%;
}
.bc{
	 width:12%;
	 height:100px;
	 background-color:#021a26;
	 color:#ffffff;
	 font-size:25px;
	 border-radius: 20px;
}