/*公用类*/

.displyone{
    display: none;
}
.greeniocn{
    color: green;
}
.rediocn{
    color: red;
}
/***********重写layui样式****************/
.layui-form-label{
    width:126px;
}
.layui-input-block{
    margin-left: 156px;
}
/**********审核页样式****************/
.check-form fieldset{
    border: 1px solid #d1d1d1;
}
.layui-icon{
    position: absolute;
    right: -20px;
    top: 12px;
}
.dosubmit{
    text-align: center;
    margin: 10px;
}
.hide{
    display: none;
}
/*身份证上传边框样式*/
img#myidcardshow1,img#myidcardshow2,img#Innshow1,img#Innshow2,img#contractshow,img#monthlyincomeshow,img#guestroomstshow,img#Chargeforwatershow,img#blectricityfeesshow,img#bankcardshow2,img#bankcardshow1{
    width: 100px;
    height: 100px;
    border: 1px solid #ccc;
}
/*****用户贷款***/
.limit-contain{
    width: 50%;
    margin: 40px auto;
}
.limit-contain input[disabled]{
    border:none;
    font-weight:bold;
    color: #FF5722;
}
