/************公共类**************/
fieldset{
    margin: 20px 0 0;
}
.txt-center{
    text-align: center;
}
.ml156{
    margin-left: 156px;
}
.check-form fieldset{
     border: 1px solid #d1d1d1;
    padding:20px 0;
 }
/***********重写layui样式****************/
.layui-form-label{
    width:126px;
}
.layui-input-block{
    margin-left: 156px;
}
/**********审核页样式****************/
.contain{
    margin:20px 20px;
}
.check-form legend{
    font-size: 18px;
    margin-left: 2%;
}
.check-submit{
    margin-top: 20px;
    text-align: center;
}
.pics li{
    float: left;
    margin:10px 10px;
    height:200px;
    overflow: hidden;
    cursor: pointer;
}
.pics li img{
    height:100%;
}