#finaceform {
    text-align: center
}


/* .layui-inline {
    margin-left: -4%;
} */

.layui-field-box {
    margin-left: 40%;
    /* margin: 0 auto; */
}


/*
#idCard1 {
    margin-left: 5%;
}

#idCard2 {
    margin-left: 5%;
}

#stay {
    margin-left: 5%;
} */


/* 
label {
    border: 1px solid red;
} */